img#java_script.personal__icon(src="img/icon_js.svg" alt="js_icon")
.personal__title
	| Уровень владения JavaScript
fieldset.personal__range
	.personal__sign
		span Не владею
	.personal__sign
		span Использую готовые
		br
		| решения
	.personal__sign
		span Использую готовые решения
		br
		| и умею и переделывать
	.personal__sign
		span Пишу сложный JS с нуля
	input(data-addui='slider', data-min='0', data-max='100', value='10')