img#experience.personal__icon(src="img/icon_checkboxes.svg" alt="checkboxes_icon")
.personal__title
	| Расскажите о своем опыте
fieldset.personal__skills
	table
		tbody
			tr
				td
					input#box1.skills__checkbox(type='checkbox', value="false")
					label(for='box1') БЭМ/OOCSS
				td
					input#box2.skills__checkbox(type='checkbox', value="false")
					label(for='box2') Верстаю семантично
				td
					input#box3.skills__checkbox(type='checkbox', value="false")
					label(for='box3') Webpack
			tr
				td
					input#box4.skills__checkbox(type='checkbox', value="false")
					label(for='box4') Stylus/LESS/SASS
				td
					input#box5.skills__checkbox(type='checkbox', value="false")
					label(for='box5') ES2015/ES2016
				td
					input#box6.skills__checkbox(type='checkbox', value="false")
					label(for='box6') jQuery
			tr
				td
					input#box7.skills__checkbox(type='checkbox', value="false")
					label(for='box7') Работаю с SVG
				td
					input#box8.skills__checkbox(type='checkbox', value="false")
					label(for='box8') Gulp/GRUNT
				td
					input#box9.skills__checkbox(type='checkbox', value="false")
					label(for='box9') Ипользую Git