img#about.personal__icon(src="img/icon_about.svg" alt="js_icon")
legend.personal__title
	| Расскажите о себе
fieldset.personal__inform
	p.personal__about Напишите несколько предложений, чем привлекла наша вакансия
		br
		| и что вы ожидаете от работы у нас.
	textarea#message(placeholder="Понравилась тем, что...").personal__textarea
	button#save.btn() Готово