#personal_info.personal__wrap
		img.personal__icon(src="img/icon_book.svg" alt="book_icon")
		legend.personal__title
			| Личная информация
		fieldset.personal__fields
			fieldset
				input#firstName(required)
				label(for="firstName") ФИО
			select.dropdown.yearpicker(name="yearpicker")
				option(value="hide") Год рождения
			fieldset
				input#birthPlace(required)
				label(for="birthPlace") Место проживания
			fieldset
				input#skype(required)
				label(for="skype") Skype
			fieldset
				input#email(required)
				label(for="email") E-mail



							


