doctype html
html(lang="ru")
		include global/head
		+head('test-task')
		body
			.wrapper
				include global/nav
			include global/header
			.wrapper
				include blocks/personal_info
			include global/scripts