doctype html
html(lang="ru")
		include global/head
		+head('test-task')
		body
			.wrapper
				include global/nav
			include global/header
			.wrapper
				form.personal__form
					include blocks/personal_info
					include blocks/personal_experience
					include blocks/personal_js-level
					include blocks/personal_about
			include global/scripts