footer.footer
    .container
        .row.footer__row.footer__row_logo(class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="50")
            img.footer__logo(src="img/footer__logo.png" alt="footer__logo")
        .row.footer__row.footer__row_top(class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="50")
            .footer__linksBox
                a.footer__link.footer__link_twitter(href="#")
                    i(class="fab fa-twitter")
                a.footer__link.footer__link_facebook(href="#")
                    i(class="fab fa-facebook-f")
            .footer__mainBox
                p.footer__text= "Subscribe to our newsletter for exclusive news."
            .footer__formBox
                form.footer__form(action="" method="POST")
                    input.footer__email(type="email" placeholder='Enter Your Email Address')
                    button.footer__submit
                        img.footer__arrow(src="img/footer-arrow-right.svg" alt="submit arrow")
        .row.footer__row.footer__row_bottom(class="wow fadeIn" data-wow-duration="1s" data-wow-delay="0.5s" data-wow-offset="50")
            .footer__copyright= "2018. Mountain Group Ltd., Cham, Zug, Switzerland +41-415880852"