// styles
link(rel="stylesheet" href="css/main.min.css")

// scripts
script(src="js/main.min.js")
script(src='https://www.gstatic.com/firebasejs/5.2.0/firebase.js')
script.
  var config = {
  apiKey: "AIzaSyC8l-o3VYZbj-RdNIJw0M3icAmGa8_0CI0",
  authDomain: "web-test-8b898.firebaseapp.com",
  databaseURL: "https://web-test-8b898.firebaseio.com",
  projectId: "web-test-8b898",
  storageBucket: "web-test-8b898.appspot.com",
  messagingSenderId: "158503038720"
  };
  firebase.initializeApp(config);