.personal__sign
    position: relative
    font-size: 13px
    color: $accentColor
    font-family: $default-font
    font-weight: 300
    line-height: 1.4
    &:nth-child(1)
      position: relative
      top: 74px
      &:before
        content: ''
        position: absolute
        top: 24px
        left: 1px 
        background-image: url(../img/dotted-barline.svg)
        background-repeat: repeat
        background-size: cover
        background-position: center
        width: 2px
        height: 20px
    &:nth-child(2)
      position: relative
      top: 39px
      left: 184px
      &:before
        content: ''
        position: absolute
        top: 40px
        left: 1px 
        background-image: url(../img/dotted-barline.svg)
        background-size: cover
        background-position: center
        width: 2px
        height: 20px
    &:nth-child(3)
      position: relative
      top: 4px
      left: 380px
      &:before
        content: ''
        position: absolute
        top: 38px
        left: 1px 
        background-image: url(../img/dotted-barline.svg)
        background-size: cover
        background-position: center
        width: 2px
        height: 20px
    &:nth-child(4)
      position: relative
      top: -15px
      left: 617px
      width: auto
      display: inline-block
      &:before
        content: ''
        position: absolute
        top: 22px
        right: 0
        background-image: url(../img/dotted-barline.svg)
        background-size: cover
        background-position: center
        width: 1px
        height: 20px


.addui-slider
  display: block
  position: relative
  .addui-slider-track
    display: block
    position: relative
    background: #e8e8e8
    .addui-slider-range
      display: block
      background: linear-gradient(to right, #ccb1f1 0%, #435993 100%)
      position: absolute
  &.addui-slider-horizontal
    height: auto
    .addui-slider-track
      height: 20px
      width: 100%
      -webkit-transform: skewY(-1deg)
      transform: skewY(-1deg)
      top: 9px
      left: 0
      .addui-slider-range
        width: auto
        height: 20px
        position: relative
        &:before
          content: ''
          position: absolute
          left: 185px
          top: 0
          height: 100%
          width: 1px
          background-color: #e8e8e8
        &:after
          content: ''
          position: absolute
          left: 381px
          top: 0
          height: 100%
          width: 1px
          background-color: #e8e8e8

.addui-slider-wrapper
  overflow: hidden

.addui-slider-handle
  display: inline-block
  border: 1px solid #bbb
  width: 20px
  height: 20px
  background-color: #fff
  border-radius: 0 30px 30px 30px
  position: absolute
  top: 30px
  left: 50%
  transform: translateX(-50%) rotate(45deg)
  cursor: pointer






/*==========  Desktop First  ==========*/

/* Medium Devices, Medium Screens */
@media only screen and (max-width : 860px)
  .personal
    &__range
      position: relative
      width: 90%
      margin: 0 auto
    &__sign
      position: absolute
      display: table
      &:nth-child(1)    
        top: 4px
        left: 0%
      &:nth-child(2)
        display: none
      &:nth-child(3)
        display: none
      &:nth-child(4)
        left: calc(100% - 151px)
  .addui-slider
    &.addui-slider-horizontal
      .addui-slider-track
        .addui-slider-range     
          &:before
            content: none
          &:after
            content: none

/* Medium Devices, Medium Screens */
@media only screen and (max-width : 500px)
 .addui-slider
    &.addui-slider-horizontal
      .addui-slider-track
        height: 40px
        transform: skewX(0deg)
        .addui-slider-range
          height: 40px

    .addui-slider-handle
      top: 48px

